# Created by .ignore support plugin (hsz.mobi)
.gitignore
.gradle/
.idea/
GIFTS-Android.iml
Zawadi.iml
app/app.iml
app/build.gradle
app/libs/
app/proguard-rules.pro
app/src/androidTest/
app/src/main/java/com/example/andrew/zawadi/MainActivitystart.java
app/src/main/res/drawable/
app/src/main/res/mipmap-hdpi/
app/src/main/res/mipmap-mdpi/
app/src/main/res/mipmap-xhdpi/
app/src/main/res/mipmap-xxhdpi/
app/src/main/res/mipmap-xxxhdpi/
app/src/main/res/values-w820dp/
app/src/main/res/values/
app/src/test/
build.gradle
build/
gradle.properties
gradle/
gradlew
gradlew.bat
local.properties
settings.gradle
